<div class="wrapper">
    <div class="getArticles">
        <button id="featureScraper">Get articles</button>
    </div>
    <section class="featuredArticles">
        <h2>Recently saved articles</h2>
        <ul>

            {{#each articles}}
            <li class="articleCard">
                <h2>{{title}}</h2>
                <span>{{byline}}</span>
                <p>blurb</p>
                <div class="controlbar">
                    <button class="removeArticle main" id="{{_id}}">Remove Article</span>
                        {{#if note}}
                        <button class="viewNote" data-id={{_id}} data-note={{note}}>
                            View Note
                        </button>
                        {{else}}
                        <button class="addNote" data-id={{_id}}>Add Note</button>
                        {{/if}}
                </div>
            </li>
            {{else}}
            No articles have been saved yet.
            {{/each}}
        </ul>
    </section>

</div>